.notepad-dlg-goto{
  height: 100%;
  width: 100%;
  left:0;
  top:0;
  position: fixed;
  z-index: 10;
}
.notepad-dlg-goto .dialogbox{
  border:1px solid #0f7fdb;
  box-shadow: 10px 10px 10px #d6d6d6;
  box-sizing:border-box;
  cursor: default;
  height: 160px;
  width: 293px;
  margin: 0 auto;
  position: relative;
  top:100px;
  user-select: none;
}
.notepad-dlg-goto .titlebar{
  height: 30px;
  background-color: #fff;
  font-size: 1.3em;
}
.notepad-dlg-goto .close-btn{
  color:gray;
  text-align: center;
  width: 30px;
  line-height: 30px;
  position: absolute;
  right: 0;
}
.notepad-dlg-goto .title{
  left: 10px;
  line-height: 30px;
  position: absolute;
  margin:0;
}
.notepad-dlg-goto .main{
  background-color: #f0f0f0;
  box-sizing: border-box;
  height: 128px;
  padding:12px;
  position: relative;
}
.notepad-dlg-goto .txt-line-num{
  box-sizing: border-box;
  height: 30px;
  width: 266px;
  margin:10px 0;
}
.notepad-dlg-goto input[type="button"]{
  width: 86px;
  height: 26px;
}
.btn-goto{
  position: absolute;
  right:108px;
  bottom: 16px;
}
.btn-cancel{
  position: absolute;
  right: 14px;
  bottom: 16px;
}